<header class="container-fluid">
    <div class="row top">
        <div class="col-md-2 col-5">
            <a routerLink=""><img src="../assets/Images/logo.png" alt="" /></a>
        </div>

        <div class="col-md-10 col-7 my-auto top-bar">
            <nav class="navbar navbar-expand-lg navbar-portfolio">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    style="outline: none; border: none">
                    <span class="ham-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto nav-joshua">
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="home">HOME</a>
                        </li>
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="features">FEATURES</a>
                        </li>
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="projects">PROJECTS</a>
                        </li>
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="resume">RESUME</a>
                        </li>
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="contact_form">CONTACT</a>
                        </li>
                        <li class="nav-item ml-auto nav-btns">
                            <a class="nav-link" routerLink="" fragment="footer">FOLLOW</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>