<section>
    @for (item of projectDetails;track projectDetails ;let i = $index) {
    <div #project class="project-popup">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-5 col-md-6">
                    <div class="image-div text-center">
                        <img class="img-fluid"
                            [src]="item?.fields?.projectImageMain?.fields?.file?.url||placeholderImage" alt="" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="prj-popup-contents">
                        <h5>Project - {{item?.fields.projectTypeName}}</h5>
                        <h2>{{item?.fields?.projectName}}</h2>
                        <p>
                            {{item?.fields?.projectDescription1}} <br />
                            <br />
                            {{item?.fields?.projectDescription2}}
                        </p>
                    </div>

                    <div class="view-prj-btn">
                        <a [href]="item?.fields?.projectUrl">
                            View Project &nbsp;<i class="fa-solid fa-angle-right"></i>
                        </a>
                        <!-- <button class="close-btn" routerLink="" fragment="projects">
                            Go Back &nbsp;<i class="fa-solid fa-arrow-left"></i>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        @if (projectDetails.length>1 &&i!==projectDetails.length-1) {
        <hr>
        }
    </div>
    }
    @if (!projectDetails||projectDetails?.length==0) {
    <div class="project-popup">
        <div class="container-fluid">
            <app-project-loading [show]="projectDetails?.length==0"></app-project-loading>
        </div>
    </div>
    }
</section>