<section>
    @for (item of projectDetails;track projectDetails ;let i = $index,last = $last,first =$first) {
    <div #project class="project-popup">
        <div class="container-fluid">
            @if(first){
            <div class="row">
                <div class="project-details-title">
                    <h4>{{item?.fields.projectTypeName}}s</h4>
                </div>
            </div>
            }
            <div class="row ">
                <div class="col-lg-5 col-md-6">
                    <div class="image-div text-center">
                        <img class="img-fluid"
                            [ngSrc]="item?.fields?.projectImageMain?.fields?.file?.url||placeholderImage" priority="low"
                            height="300" width="300" alt="" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="prj-popup-contents">
                        <h5>Project - {{item?.fields.projectTypeName}}</h5>
                        <h2>{{item?.fields?.projectName}}</h2>
                        <p>
                            {{item?.fields?.projectDescription1}} <br />
                            <br />
                            {{item?.fields?.projectDescription2}}
                        </p>
                    </div>

                    <div class="view-prj-btn">
                        <a [href]="item?.fields?.projectUrl" target="_blank">
                            View Project &nbsp;<span class="material-symbols-outlined">
                                open_in_new
                            </span>
                        </a>
                        <!-- <button class="close-btn" routerLink="" fragment="projects">
                            Go Back &nbsp;<i class="fa-solid fa-arrow-left"></i>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        @if (!last) {
        <hr>
        }
    </div>
    }
    @if (!projectDetails||projectDetails?.length==0) {
    <div class="project-popup">
        <div class="container-fluid">
            <app-project-loading [show]="projectDetails?.length==0"></app-project-loading>
        </div>
    </div>
    }
</section>