@switch (data.Type) {
@case (alertTypes.SUCCESS) {
<span class="example-toast" matSnackBarLabel>
    <i class="bi bi-check-circle" style="color: var(--clr-success);"></i>&nbsp; {{data.Message}}
</span>
<span matSnackBarActions>
    <button mat-icon-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">
        <mat-icon>close</mat-icon></button>
</span>
}
@case (alertTypes.ERROR) {
<span class="example-toast" matSnackBarLabel>
    <i class="bi bi-exclamation-circle" style="color: var(--clr-error);"></i> &nbsp;{{data.Message}}
</span>
<span matSnackBarActions>
    <button mat-icon-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">
        <mat-icon>close</mat-icon></button>
</span>
}
}