<section class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-12 home-content">
                <p>WELCOME TO MY WORLD</p>
                <h1>
                    Hi, I’m <span class="name">Joshua T J</span>
                </h1>
                <h2>
                    <span class="typewrite">
                        <span class="wrap">{{txt}}</span>
                        @if (txt.length==0) {
                        <span class="hidden">{{fullTxt}}</span>
                        }
                    </span>
                </h2>

                <p class="myself" id="follow">
                    Self-motivated, highly passionate and hardworking fresher looking
                    for an opportunity to work in a challenging organization to
                    utilize my skills and knowledge to work for the growth of the
                    organization. Eager to learn new technologies and methodologies.
                </p>
                <div class="home-bottom d-flex flex-row justify-content-between flex-wrap">
                    <!-- Icons Component  -->
                    <app-social-media-icons></app-social-media-icons>
                    <div class="home-icon icon2 d-flex flex-row justify-content-between flex-wrap">
                        <div class="icons">
                            <p>BEST SKILL ON</p>
                            <div class="icons-container" [@fadeInOut]="showMore ? skillsIcons.length : 4">
                                @for (item of (showMore ? skillsIcons : (skillsIcons | slice:0:4)); track
                                skillsIcons;let i= $index) {
                                <span [@fadeInOut]="{value: stateName, params: {delay: i * 100}}"
                                    [matTooltip]="item.Title" matTooltipPosition="above">
                                    <img [src]="item.IconSrc" [alt]="item.Title">
                                </span>
                                }
                                <i tabindex="0" (keydown)="$event.key==='Enter'?toggleMore():''"
                                    [matTooltip]="showMore?'Show less':'Show more'" matTooltipPosition="above"
                                    class="bi more-icon" [ngClass]="showMore?'bi-dash':'bi-plus'"
                                    (click)="toggleMore()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 profile-img-container">
                <div class="thumbnail">
                    <!-- <img id="profile-img" src="../assets/Images/profile.png" class="mx-auto" alt="photo" /> -->
                </div>
            </div>
        </div>
    </div>
</section>