<section class="features">
    <div class="container-fluid">
        <h6>FEATURES</h6>
        <h1>What I Do</h1>
        <div class="row">
            @for (item of features; track item.Id; let i=$index) {
            <div data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-sine" [attr.data-aos-delay]="200"
                data-aos-offset="0" class="col-md-6 col-lg-4 card-main">
                <div class="cards">
                    <i class="bi card-elements" [ngClass]="item.IconClass"></i>
                    <div class="feature-card-text">
                        <h5 class="card-elements">{{item.Title}}</h5>
                        <p class="card-elements">
                            {{item.Description}}
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>