<section class="projects">
    <div class="container-fluid">
        <h6>PROJECTS</h6>
        <!-- <h1>PROJECTS DONE</h1> -->
        <h1>What I Built</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of [1,2,3]">
                <app-loading-card></app-loading-card>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of (showMore ? projects : (projects | slice:0:3))"
                class="col-lg-4 col-md-6 card-main">
                <div [routerLink]="['project-details',item.fields.projectId]" class="cards-pro dic-card">
                    <div class="prj-img-container">
                        <img [src]="item.fields.image.fields.file.url" alt="" />
                    </div>
                    <p class="prj-name">{{item.fields.projectType}}</p>
                    <h5 class="card-elements projects-h5">
                        {{item.fields.description}}&nbsp;
                        <span id="goto">
                            <!-- <i class="fa-solid fa-square-arrow-up-right"></i> -->
                            <i class="bi bi-arrow-up-right"></i>
                        </span>
                    </h5>
                    <p class="card-elements"></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button [disabled]="commonService.getLoading()" (click)="toggleMore()" class="projects-showMore">
                    Show {{showMore?'Less':'More'}} <i class="bi"
                        [ngClass]="showMore?'bi-chevron-up':'bi-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
</section>


<!-- project popup -->

<!-- <div class="project-popup" *ngIf="popupOcym" id="popup-ocym">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="image-div text-center">
                    <img class="img-fluid" src="../assets/Images/ocym-lg.png" alt="" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="prj-popup-contents">
                    <h5>Project - Static Website</h5>
                    <h2>OCYM WEBSITE</h2>
                    <p>
                        A Website developed for the OCYM(Orthodox Christian Youth
                        Movement) of St Stephen's Orthodox Church, Pandithitta, Kollam
                        <br />
                        <br />
                        This is a Responsive static website developed with the help of
                        HTML, CSS, Javascript and Bootstrap Framework
                    </p>
                </div>

                <div class="view-prj-btn">
                    <a href="https://joshua-t-j.github.io/ocym-website/">
                        <button>
                            View Project &nbsp;<i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                    <button class="close-btn" (click)="closePopups()">
                        Close &nbsp;<i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-popup" *ngIf="popupTodo" id="popup-todo">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="image-div text-center">
                    <img class="img-fluid" src="../assets/Images/todo-lg.png" alt="" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="prj-popup-contents">
                    <h5>Project - React App</h5>
                    <h2>TODO APP</h2>
                    <p>
                        A ToDo App developed to Create and Organize all your work in one
                        place and access them from anywhere.<br />
                        <br />
                        A project developed with the help of React.js Framework to store
                        and organize all the work of an individual and access them.
                    </p>
                </div>

                <div class="view-prj-btn">
                    <a href="https://joshua-t-j.github.io/todoapp/">
                        <button>
                            View Project &nbsp;<i class="fa-solid fa-angle-right"></i>
                        </button>
                    </a>
                    <button class="close-btn" (click)="closePopups()">
                        Close &nbsp;<i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- project popup -->