<section class="projects">
    <div class="container-fluid">
        <h6>PROJECTS</h6>
        <!-- <h1>PROJECTS DONE</h1> -->
        <h1>What I Built</h1>
        <div class="row">
            @for (item of [1,2,3]; track $index) {
            <div class="col-lg-4 col-md-6">
                <app-loading-card></app-loading-card>
            </div>
            }
        </div>
        <div class="row">
            @for (item of (showMore ? projects : (projects | slice:0:3));track projects) {
            <div class="col-lg-4 col-md-6 card-main">
                <div [routerLink]="['project-details',item.fields.projectId]" class="cards-pro dic-card">
                    <div class="prj-img-container">
                        <img [src]="item.fields.image.fields.file.url" alt="" />
                    </div>
                    <p class="prj-name">{{item.fields.projectType}}</p>
                    <h5 class="card-elements projects-h5">
                        {{item.fields.description}}&nbsp;
                        <span id="goto">
                            <!-- <i class="fa-solid fa-square-arrow-up-right"></i> -->
                            <i class="bi bi-arrow-up-right"></i>
                        </span>
                    </h5>
                    <p class="card-elements"></p>
                </div>
            </div>
            }
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button [disabled]="commonService.getLoading()" (click)="toggleMore()" class="projects-showMore">
                    Show {{showMore?'Less':'More'}} <i class="bi"
                        [ngClass]="showMore?'bi-chevron-up':'bi-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
</section>