<app-header></app-header>

<main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>



<!-- side social-bar -->

<div class="side-bar" id="side-bar">
  <div class="social-bar flex-column justify-content-between flex-wrap" id="icon-side">
    <div (click)="toggleSideBar()" class="toggle-side" id="show-sidebar" matTooltipPosition="right"
      [matTooltip]="sideBarOpen?'Collapse':'Expand'">
      <i class="fa-solid" [ngClass]="sideBarOpen?'fa-angle-left':'fa-angle-right'"></i>
    </div>
    <ng-container *ngIf="sideBarOpen">
      <div class="side-icons-container">
        <div class="theme-switch-wrapper side-bar-icon">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" (change)="toggleTheme()" [formControl]="themeSwitch" id="checkbox" />
            <i class="fa-solid fa-moon" matTooltipPosition="right" matTooltip="Dark Mode" id="moon"></i>
            <i class="fa-solid fa-sun" matTooltipPosition="right" matTooltip="Light Mode" id="sun"></i>
          </label>
        </div>
        <a href="https://www.linkedin.com/in/joshua-t-j-68121b22a/" matTooltipPosition="right" matTooltip="LinkedIn">
          <div class="side-bar-icon">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </a>
        <a href="https://github.com/Joshua-T-J" matTooltipPosition="right" matTooltip="GitHub">
          <div class="side-bar-icon">
            <i class="fa-brands fa-github"></i>
          </div>
        </a>
        <a href="https://www.instagram.com/joshua.t_j/" matTooltipPosition="right" matTooltip="Instagram">
          <div class="side-bar-icon">
            <i class="fa-brands fa-instagram"></i>
          </div>
        </a>
        <a href="mailto:joshuajose312@gmail.com" matTooltipPosition="right" matTooltip="E-mail">
          <div class="side-bar-icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>

<!-- goto top arrow button -->

<div class="up-arrow" id="goto-top" (click)="scrollToTop()" matTooltip="Go to Top">
  <a id="progress-value"><i class="fas fa-arrow-up"></i> </a>
</div>