<header class="container-fluid">
  <div class="row top">
    <div class="col-md-2 col-5">
      <a routerLink=""><img src="../assets/Images/logo.png" alt="" /></a>
    </div>

    <div class="col-md-10 col-7 my-auto top-bar">
      <nav class="navbar navbar-expand-lg navbar-portfolio">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          style="outline: none; border: none">
          <span class="ham-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto nav-joshua">
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#home">HOME</a>
            </li>
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#features">FEATURES</a>
            </li>
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#resume">RESUME</a>
            </li>
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#contact_form">CONTACT</a>
            </li>
            <li class="nav-item ml-auto nav-btns">
              <a class="nav-link" href="#footer">FOLLOW</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main>
  <app-home></app-home>
  <app-features></app-features>
  <app-projects></app-projects>
  <app-resume></app-resume>
  <app-contact></app-contact>
</main>

<footer id="footer">
  <div class="container-fluid footer">
    <div class="row">
      <div class="col-12">
        <img src="../assets/Images/logo.png " alt="Logo" />
      </div>
      <div class="col-12 footer-list">
        <ul>
          <li class="d-md-inline d-none p-2">
            <a href="#home">Home</a>
          </li>
          <li class="d-md-inline d-none p-2">
            <a href="#features">Features</a>
          </li>
          <li class="d-md-inline d-none p-2">
            <a href="#projects">Projects</a>
          </li>
          <li class="d-md-inline d-none p-2">
            <a href="#resume">Resume</a>
          </li>
          <li class="d-md-inline d-none p-2">
            <a href="#contact_form">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row footer-list-container">
      <div class="col-md-3 offset-lg-1 footer-list">
        <h6>Hello there!</h6>
        <p>
          Want to get in Touch? I'd Love to hear from you. Here's how you
          can reach me.
        </p>
      </div>
      <div class="col-md-5 offset-lg-1 footer-list">
        <h6>Contact</h6>
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i> Thadathivila Veedu,
            Pandithitta
          </li>
          <li>&nbsp;&nbsp;&nbsp; Thalavoor, Kollam, Kerala</li>
          <li>
            <a href="tel:+918921233481"><i class="fas fa-mobile-alt"></i> +91 8921233481</a>
          </li>
          <li>
            <a href="mailto:joshuajose312@gmail.com">
              <i class="far fa-envelope"></i> joshuajose312@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-list">
        <h6>Services</h6>
        <ul>
          <li><a href="">Frontend</a></li>
          <li>
            <a href="https://jtjcreations.netlify.app/">Photography</a>
          </li>
          <li><a href="https://jtjcreations.netlify.app/">Editing</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 footer-icons-container">
        <span>Stay Connected</span>
        <a href="https://www.instagram.com/joshua.t_j/" class="footer-icons"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/joshua-t-j-68121b22a/" class="footer-icons"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="mailto:joshuajose312@gmail.com" class="footer-icons"><i class="fa-solid fa-envelope"></i></a>
        <a href="index.html" class="footer-icons"><i class="fa-solid fa-globe"></i></a>
      </div>
      <div class="col-12">
        <p class="copyright-text">
          Copyright &copy;
          {{currentYear}}
          All rights reserved | Joshua T J
        </p>
      </div>
    </div>
  </div>
</footer>



<!-- side social-bar -->

<div class="side-bar" id="side-bar">
  <div class="social-bar flex-column justify-content-between flex-wrap" id="icon-side">
    <div class="toggle-side" id="hide-sidebar" title="Hide">
      <i class="fa-solid fa-angle-left"></i>
    </div>

    <div class="theme-switch-wrapper side-bar-icon">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" (change)="toggleTheme()" [formControl]="themeSwitch" id="checkbox" />
        <i class="fa-solid fa-moon" title="Dark Mode" id="moon"></i>
        <i class="fa-solid fa-sun" title="Light Mode" id="sun"></i>
      </label>
    </div>

    <a href="https://www.linkedin.com/in/joshua-t-j-68121b22a/" title="LinkedIn">
      <div class="side-bar-icon">
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </a>
    <a href="https://github.com/Joshua-T-J" title="GitHub">
      <div class="side-bar-icon">
        <i class="fa-brands fa-github"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/joshua.t_j/" title="Instagram">
      <div class="side-bar-icon">
        <i class="fa-brands fa-instagram"></i>
      </div>
    </a>
    <a href="mailto:joshuajose312@gmail.com" title="E-mail">
      <div class="side-bar-icon">
        <i class="fa-solid fa-envelope"></i>
      </div>
    </a>
  </div>
  <div class="toggle-side" id="show-sidebar" title="Expand">
    <i class="fa-solid fa-angle-right"></i>
  </div>
</div>

<!-- goto top arrow button -->

<div class="up-arrow" id="goto-top" title="Go to Top">
  <a href="#home" id="progress-value"><i class="fas fa-arrow-up"></i> </a>
</div>