<main>
    <div id="home">
        <app-home></app-home>
    </div>
    <hr>
    <div id="features">
        <app-features></app-features>
    </div>
    <hr>
    <div id="projects">
        @defer (on viewport) {
        <app-projects></app-projects>
        }@placeholder {
        <div class="col-lg-4 col-md-6">
            <app-loading-card></app-loading-card>
        </div>
        }
    </div>
    <hr>
    <div id="resume">
        @defer (on viewport) {
        <app-resume></app-resume>
        }@placeholder {
        <div class="col-lg-4 col-md-6">
            <app-loading-card></app-loading-card>
        </div>
        }
    </div>
    <hr>
    <div id="contactform">
        <app-contact></app-contact>
    </div>
</main>