/*----------- Buttons---------- */
.btn-raised {
  cursor: pointer;
  font-size: 17px;
  padding: 15px 60px;
  outline: none;
  border: none;
  color: var(--font-color);
  background: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  margin-top: 2rem;
}

.btn-raised:focus {
  outline: none;
  border: none;
}

.btn-raised:hover {
  color: #fff;
  background: var(--clr-primary);
}

/*----------- Buttons---------- */
