@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url(variables.css);
@import url(custom.css);

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-body);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

header {
  position: fixed;
  width: 100%;
  z-index: 900;
  top: 0;
}

main {
  background: var(--bg-body);
}

section .container-fluid {
  padding: 100px 50px;
}

/* @media screen and (width>1920px) { */
section .container-fluid {
  max-width: 1600px;
}
/* } */

.top {
  padding: 5px 10px 5px 20px;
  box-shadow: var(--shadow-small);

  & img {
    max-height: 60px;
  }
}

@media screen and (width<992px) {
  .top img {
    height: 40px;
    width: auto;
    margin-top: 10px;
  }
}
@media screen and (width>992px) {
  .top {
    align-items: center;
  }
}

.nav-joshua li {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 5px;
}

.nav-joshua li a {
  margin: 5px 5px;
}

.navbar-portfolio .navbar-nav .nav-item .nav-link {
  color: var(--font-color);
  padding-inline: 15px;
  background: none;
  box-shadow: none;
}

.navbar-portfolio .navbar-nav .nav-link {
  position: relative;
}

.navbar-portfolio .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}

.navbar-portfolio .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-portfolio .navbar-nav .nav-item .nav-link.active::after {
  transform: scaleX(1);
}

/* .navbar-portfolio .navbar-nav .nav-item:hover .nav-link {
  border-radius: 5px;
  box-shadow: var(--shadow-small);
  color: var(--clr-primary);
  background: var(--background-color);
} */

.ham-icon {
  font-size: 30px;
  color: var(--font-color);
}

.navbar-toggler {
  border: 1px solid var(--font-color);
}

.home {
  padding: 50px 0 0 0;
  background-color: var(--bg-body);
}

.home-content {
  margin-top: 50px;
}

.home-content h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--font-color);
  padding-bottom: 10px;
}

.home-content h2 span {
  text-decoration: none;
  color: #01a2ff;
}

.home-content p {
  letter-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #7f8181;
}

.home-content h1 {
  font-weight: 600;
  font-size: 3.5rem;
}

.name {
  color: var(--clr-primary);
}

.myself {
  margin-bottom: 142px;
}

.profile-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  overflow: hidden;
  isolation: isolate;
}

/* .thumbnail::before {
  content: '';
  min-height: 85%;
  box-shadow: var(--shadow);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 110px;
  z-index: -1;
  transform: translateX(-50%);
  background-color: var(--background-color);
  border-radius: 10px;
} */

#profile-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  max-height: 600px;
}

.features {
  background-color: var(--bg-body);
  padding-bottom: 100px;
}

.features .container-fluid h1 {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--font-color);
  text-align: left;
}

.features .container-fluid h6 {
  padding-top: 50px;
  color: var(--clr-primary);
  /* text-align: left; */
}

.features h5 {
  font-weight: 500;
  font-size: 24px;
}

.cards {
  margin-top: 50px;
  padding: 35px 50px 35px 50px;
  border-radius: 15px;
  background: var(--bg-body);
  box-shadow: var(--shadow);
  color: var(--font-color);
  min-height: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: grid;
  align-items: center;
}

.cards:hover {
  background-image: var(--cards-hover-bg);
}

.features .card-elements {
  padding: 10px;
}

.features .cards i {
  color: var(--clr-primary);
  font-size: 45px;
}

.feature-card-text p {
  font-size: 1rem;
}

#contact_form {
  background-color: var(--bg-body);
  padding-bottom: 50px;
}

.container-fluid h6 {
  padding: 10px;
  text-align: center;
  color: var(--clr-primary);
}

.container-fluid h1:not(.home-content h1) {
  padding-bottom: 10px;
  text-align: center;
  color: var(--font-color);
  font-weight: 600;
  font-size: 3.5rem;
}

#projects {
  background-color: var(--bg-body);
  color: var(--font-color);
}

.cards-pro {
  padding: 30px;
  text-align: center;
  margin-top: 50px;
  background: var(--background-color);
  box-shadow: var(--shadow);
  cursor: pointer;
  border-radius: 20px;
  max-width: max-content;
}

.prj-img-container {
  overflow: hidden;
  margin-inline: auto;
  width: fit-content;
  border-radius: 10px;
  max-height: 300px;
}

.cards-pro img {
  transition: all 0.3s ease-in;
  max-width: 100%;
}

@media screen and (width<=768px) {
  .cards-pro {
    margin-inline: auto;
    width: auto;
  }
}

.cards-pro:hover img {
  transform: scale(1.1);
}

#projects a {
  text-decoration: none;
  color: var(--font-color);
}

.prj-name {
  color: var(--clr-primary);
  font-size: 12px;
  padding-top: 10px;
}

.cards-pro h5 {
  margin-left: 20px;
}

.cards-pro h5:hover {
  color: var(--clr-primary);
  transform: scale(1);
  transition: all 0.2s linear;
  margin-left: 0;
}

.cards-pro #goto {
  opacity: 0;
  font-size: 18px;
  color: var(--clr-primary);
  transition: all 0.5s ease-in;
}

.cards-pro h5:hover #goto {
  opacity: 1;
}

#resume {
  background-color: var(--bg-body);
  color: var(--font-color);
}

.resume-nav {
  background: var(--background-color);
  box-shadow: var(--shadow);
  width: 100%;
  border-radius: 10px;
}

.resume-li {
  padding: 25px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.active,
.resume-li:hover {
  background: var(--background-color);
  box-shadow: var(--shadow-small);
  color: var(--clr-primary);
}

.resume-details {
  margin-top: 50px;
}

.resume-card {
  padding: 50px;
  background: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  height: 100%;

  &:last-child {
    padding-bottom: 0px;
  }
}

.resume-card:hover {
  background: var(--cards-hover-bg);
}

.resume-card:hover p {
  color: var(--font-color) !important;
}

.resume-card p:nth-child(1),
.resume-progress p:first-child {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.progress {
  margin: 10px 0;
}

.progress-bar {
  animation: load 1s ease-out forwards 1s;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

.progress {
  background: var(--bg-body);
  box-shadow: var(--progress-box-shadow);
  border-radius: 20px;
}

#progress-bar {
  background: linear-gradient(145deg, #6a67ce 0%, #fc636b 100%);
  border-radius: 20px;
  padding: 3px;
}

#download {
  text-align: center;
  margin-top: 84px;
}

.download-resume button {
  cursor: pointer;
  font-size: 17px;
  padding: 15px 60px;
  outline: none;
  border: none;
  color: var(--font-color);
  background: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.download-resume button:focus {
  outline: none;
}

.download-resume button:hover {
  color: #fff;
  background: var(--clr-primary);
}

#contact-div {
  background: var(--background-color);
  box-shadow: var(--shadow);
  border: none;
  border-radius: 15px;
  margin: 10px 0;
}

#contact-form .btn-send {
  color: var(--clr-primary);
  background: var(--bg-body);
  box-shadow: var(--shadow);
}

#contact-form .btn-send:hover {
  color: #e2e8ec;
  background-color: var(--clr-primary);
}

#contact-form .btn-send:hover circle {
  stroke: #e2e8ec;
}
.address {
  background: var(--background-color);
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 25px;
  margin: 10px 0;
}

.address h4 {
  color: var(--clr-primary);
  margin-bottom: 25px;
}

.reach-me {
  margin-bottom: 20px;
  padding-left: 15px;
  color: var(--font-color);
}

.reach-me a,
.reach-me a:hover {
  color: var(--font-color);
  text-decoration: none;
}

.reach-me a:hover {
  color: var(--clr-primary);
}

#contact-form {
  position: relative;
}

#contact-form input,
#form_message {
  /* background-color: var(--background-color);
  box-shadow: var(--shadow); */
  color: var(--font-color);
  border: none;
  outline: none;
}

#contact-form label {
  color: var(--font-color);
}

#contact-form .error-span {
  color: var(--clr-error);
  font-size: 13px;
}

.error-span i {
  position: absolute;
  top: min(45px, 50%);
  right: 8%;
}

textarea + .error-span i {
  top: 50%;
  transform: translateY(-50%);
}

#submit-btn + .error-span {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  textarea + .error-span i {
    right: 5%;
  }
}

/* message sending animation */

#loading-wrapper {
  background-color: var(--popup-outer-bg);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);

  --clr-1: rgba(225, 20, 98, 0.75);
  --clr-2: rgba(0, 0, 0, 0.75);
  --clr-3: rgba(233, 169, 32, 0.75);
  --clr-4: rgba(255, 255, 255, 0.75);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em var(--clr-1), -1em 0.5em var(--clr-2);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em var(--clr-1), 0 0.5em var(--clr-2);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em var(--clr-1), 1em 0.5em var(--clr-2);
  }

  100% {
    box-shadow: 1em -0.5em var(--clr-1), -1em 0.5em var(--clr-2);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em var(--clr-3), -0.5em -1em var(--clr-4);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 var(--clr-3), -0.5em 0 var(--clr-4);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em var(--clr-3), -0.5em 1em var(--clr-4);
  }

  100% {
    box-shadow: 0.5em 1em var(--clr-3), -0.5em -1em var(--clr-4);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

/* message sending animation End*/

/* message sent success popup style */
.contact-popup {
  position: fixed;
  top: 50%;
  z-index: 2;
  background-color: var(--popup-outer-bg);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.inner-popup {
  background-color: var(--bg-body);
  border-radius: 10px;
  width: 70%;
  padding: 40px 40px;
}

.contact-popup h4 {
  letter-spacing: 2px;
  color: var(--font-color);
}

.contact-popup p {
  letter-spacing: 2px;
  margin-top: 40px;
  color: var(--font-color);
}

.contact-popup button {
  margin-top: 20px;
  width: 80%;
  padding: 10px 30px;
  background: var(--background-color);
  box-shadow: var(--shadow);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  color: var(--clr-primary);
  cursor: pointer;
}

.contact-popup button:hover {
  background-image: linear-gradient(120deg, var(--clr-primary), #ff010e);
  color: #fff;
  transform: scale(1.05);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.contact-popup button:focus {
  outline: none;
}

/* message sent success popup style End*/
footer {
  text-align: center;
  padding: 4.5rem 0 1rem 0;
  background-color: var(--clr-footer);
  color: var(--font-color);
}

.footer-icons {
  color: var(--font-color);
  padding: 15px;
}

.footer-icons:hover {
  color: var(--clr-primary);
}

.footer-icons-container {
  padding-block: 2rem;
}

.footer-list-container {
  padding: 2rem 5rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.footer-list {
  line-height: 2rem;
}

.footer h6 {
  font-size: 1.2rem;
  color: #ff014da4;
  text-align: start;
  padding: 0px;
  font-weight: 500;
}

.footer ul {
  list-style: none;
}

.footer ul a {
  color: var(--font-color);
  text-decoration: none;
}

.footer ul a:hover {
  color: var(--clr-primary);
}

.footer .copyright-text {
  font-size: 14px;
  opacity: 0.5;
}

@media screen and (max-width: 470px) {
  .footer-list-container {
    padding: 3rem 1rem;
  }
}

/* goto top arrow */

.up-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-small);
  cursor: pointer;
  background-image: conic-gradient(
    var(--clr-primary) 0%,
    var(--clr-primary) var(--scroll),
    var(--bg-body) var(--scroll),
    var(--bg-body)
  );
  background-repeat: no-repeat;
  display: none;
}

#progress-value {
  text-decoration: none;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: var(--background-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: var(--font-color);
}

/* side social bar */

.side-bar {
  position: fixed;
  top: 40vh;
  left: 0;
  background-color: var(--bg-body);
  border-radius: 10px;
  box-shadow: var(--shadow-small);
  z-index: 500;
  /* display: none; */
}

.side-bar-icon {
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-color);
}

.toggle-theme-icon {
  color: var(--font-color);
}

.theme-switch-wrapper .theme-switch #sun,
.theme-switch-wrapper .theme-switch #moon {
  color: var(--font-color);
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.theme-switch-wrapper .theme-switch #sun:hover {
  color: #e99f00;
}

.theme-switch-wrapper .theme-switch #moon:hover {
  color: #9e9e9e;
}

#checkbox {
  display: none;
}

.theme-switch-wrapper .theme-switch #moon {
  display: block;
}

.side-bar .theme-switch #checkbox:checked ~ #moon {
  display: none;
}

.side-bar .theme-switch #checkbox:checked ~ #sun {
  display: block;
}

.side-bar a:hover {
  color: var(--clr-primary);
}

.side-bar a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 20px;
}

.toggle-side {
  color: var(--font-color);
  padding: 10px;
  cursor: pointer;
}

.toggle-side:hover {
  color: var(--clr-primary);
}

::selection {
  color: #fff;
  background: #ff014dc2;
}

/* project details style */

.project-popup {
  background-color: var(--bg-body);
}

.project-popup .container-fluid {
  border-radius: 15px;
  padding: 3rem;
  background-color: var(--bg-body);
}

.project-popup .container-fluid:first-child {
  padding-top: 150px;
}

.image-div img {
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
}

.prj-popup-contents {
  margin-top: 20px;
  padding-bottom: 20px;
  color: var(--font-color);
}

.prj-popup-contents h5 {
  color: #5f5f5f;
}

.prj-popup-contents h2 {
  font-size: 34px;
  font-weight: 700;
  color: var(--font-color);
  line-height: 68px;
}

.prj-popup-contents p {
  margin-top: 1rem;
}

.view-prj-btn {
  margin-top: 1rem;
  transition: 0.3s;
}

.view-prj-btn a {
  outline: none;
  border: none;
  background: var(--background-color);
  box-shadow: var(--shadow);
  color: var(--clr-primary);
  font-size: 17px;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  color: var(--clr-primary);

  &:hover {
    text-decoration: none;
  }
}

.view-prj-btn:hover {
  transform: translateY(-5px);
  /* background-color: var(--cards-hover-bg); */
}

/* project details style End */

@media (max-width: 691px) {
  .inner-popup {
    width: 90%;
  }

  .project-popup .container {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .prj-popup-contents h2,
  .prj-popup-contents h5 {
    text-align: center;
  }
}

hr {
  background: var(--clr-border-dark-500);
  margin-block: 30px;
  width: 100%;
}

/***************** Mat Style over ride ***************************/
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: var(--bg-body) !important;
  border: 1px solid var(--clr-primary);
}

.mat-icon {
  color: var(--clr-primary);
}

.cdk-overlay-pane {
  margin-top: 110px !important;
}

/* .features .container-fluid .row {
  -webkit-animation: translateAnimation 1ms forwards;
  animation: translateAnimation 1ms forwards;
  animation-timeline: scroll();
}

@keyframes translateAnimation {
  0% {
    transform: translateX(30%);
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateX(0%);
    animation-timing-function: ease-out;
  }
  70% {
    transform: translateX(-50%);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: translateX(-50%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-100%);
    animation-timing-function: ease-out;
  }
} */
