<section class="resume" id="resume">
    <div class="container" data-cues="slideInUp">
        <h6>ABOUT ME</h6>
        <h1>RESUME</h1>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="resume-nav">
                        <ul class="navbar-nav resume-nav">
                            <li class="nav-item resume-li edu active col-md-3">
                                EDUCATION
                            </li>
                            <li class="nav-item resume-li ski col-md-3">SKILLS</li>
                            <li class="nav-item resume-li cer col-md-3">
                                CERTIFICATIONS
                            </li>
                            <li class="nav-item resume-li more col-md-3">MORE</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- resume educational qualification details -->

        <div class="resume-details" id="education">
            <h5>EDUCATIONAL QUALIFICATION</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>B.TECH, COMPUTER SCIENCE & ENGINEERING</p>
                        <p>APJ Abdul Kalam Technological University (2018-2022)</p>
                        <p>BASELIOS MATHEWS II COLLEGE OF ENGINEERING, SASTHAMCOTTA</p>
                        <p>CGPA &nbsp; 7.65</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>PLUS TWO</p>
                        <p>Kerala Higher Secondary Examination Board (2018)</p>
                        <p>G H S S PATTAZHY</p>
                        <p>Percentage &nbsp; 84.5%</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>SSLC</p>
                        <p>Kerala Board of Public Examination (2016)</p>
                        <p>G H S S PATTAZHY</p>
                        <p>Percentage &nbsp;96.6%</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- resume Professional skills details -->

        <div class="resume-details education" id="skills">
            <h5>PROFESSIONAL SKILLS</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>Technical Skills</p>
                        <label for="html-progress">HTML</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="html-progress" role="progressbar" style="width: 80%"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                80%
                            </div>
                        </div>
                        <label for="css-progress">CSS</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="css-progress" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                75%
                            </div>
                        </div>
                        <label for="js-progress">Javascript</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="js-progress" role="progressbar" style="width: 70%"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                70%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>Other Skills</p>
                        <label for="html-progress">Photography</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="html-progress" role="progressbar" style="width: 90%"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <label for="css-progress">Videography</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="css-progress" role="progressbar" style="width: 80%"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                80%
                            </div>
                        </div>
                        <label for="js-progress">Editing</label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="js-progress" role="progressbar" style="width: 90%"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- certification -->

        <div class="resume-details" id="certification">
            <h5>CERTIFICATIONS</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>
                            Learning Web Development from Scratch: The Ultimate Bootcamp
                        </p>
                        <p>Conducted by :&nbsp; Eduonix</p>
                        <p>27 January 2022</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- more -->

        <div class="resume-details" id="more">
            <h5>MORE ABOUT ME</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>HOBBIES</p>
                        <p>Watching films</p>
                        <p>Listening music</p>
                        <p>Photography</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="resume-card">
                        <p>STRENGTH</p>
                        <p>Flexible and adaptable</p>
                        <p>Ambitious</p>
                        <p>Loyal and Patience</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="download">
            <div class="col-12">
                <a href="./Doc/Joshua T J Resume.pdf" download class="download-resume">
                    <button>
                        Download Resume &nbsp;<i class="fa-solid fa-file-arrow-down"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>