<section class="resume">
    <div class="container-fluid">
        <h6>ABOUT ME</h6>
        <h1>RESUME</h1>
        <div class="row">
            <div class="col-md-12 p-0">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="resume-nav">
                        <ul #resumeButtons class="navbar-nav resume-nav">
                            <li tabindex="0" (keydown)="$event.key==='Enter'?click($event,'education'):''"
                                (click)="click($event,'education')" class="nav-item resume-li edu active col-md-3">
                                EDUCATION
                            </li>
                            <li tabindex="0" (keydown)="$event.key==='Enter'?click($event,'skills'):''"
                                (click)="click($event,'skills')" class="nav-item resume-li ski col-md-3">
                                SKILLS</li>
                            <li tabindex="0" (keydown)="$event.key==='Enter'?click($event,'experience'):''"
                                (click)="click($event,'experience')" class="nav-item resume-li cer col-md-3">
                                EXPERIENCE
                            </li>
                            <li tabindex="0" (keydown)="$event.key==='Enter'?click($event,'more'):''"
                                (click)="click($event,'more')" class="nav-item resume-li more col-md-3">
                                MORE</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        <!-- resume educational qualification details -->
        @if (activeTab === 'education') {
        <div [@translate] class="resume-details" id="education">
            <h5>EDUCATIONAL QUALIFICATION</h5>
            <div class="row">
                @for (item of education?.fields.resumeDetails; track education?.fields.resumeDetail) {
                <div class="col-md-6 py-2">
                    <div class="resume-card">
                        <p class="education-title">{{item?.Title}}</p>
                        <p class="education-board">{{item?.Board}}</p>
                        <!-- <p class="education-school">{{item?.School}}</p> -->
                        <hr>
                        <p>{{item?.Quote}}</p>
                    </div>
                </div>
                }
            </div>
        </div>
        }
        <!-- resume Professional skills details -->
        @if (activeTab === 'skills') {
        <div [@translate] class="resume-details education" id="skills">
            <h5>PROFESSIONAL SKILLS</h5>
            <div class="row">
                <div class="col-md-6 py-2">
                    <div class="resume-progress">
                        <p>Programming Languages & Frameworks</p>
                        @for (item of languages; track languages) {
                        <label for="progress-bar">{{item?.Title}} <span
                                class="skill-progress-value">{{item.Percentage}}</span></label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="progress-bar" role="progressbar"
                                [style.width]="item.Percentage" [attr.aria-valuenow]="item.Percentage" aria-valuemin="0"
                                aria-valuemax="100">

                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="resume-progress">
                        <p>Other Skills</p>
                        @for (item of otherSkills; track otherSkills) {
                        <label for="progress-bar">{{item?.Title}}<span
                                class="skill-progress-value">{{item.Percentage}}</span></label>
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" id="progress-bar" role="progressbar"
                                [style.width]="item.Percentage" [attr.aria-valuenow]="item.Percentage" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
        <!-- experience -->
        @if (activeTab === 'experience') {
        <div [@translate] class="resume-details" id="certification">
            <h5>EXPERIENCE</h5>
            <div class="row">
                @for (item of Experience?.fields.resumeDetails; track Experience?.fields.resumeDetails) {
                <div class="col-md-6 py-2">
                    <div class="resume-card">
                        <p>
                            {{item.Company}}
                        </p>
                        <p>{{item.Designation}} ( {{item.Year}} )</p>
                        <hr>
                        <p>{{getTruncatedInfo(item.Info,item.Company)}}
                            @if (isExpanded[item.Company]) {
                            {{getRemainingInfo(item.Info)}}
                            }
                            @if (showReadMore) {
                            <span tabindex="0" (keydown)="$event.key==='Enter'?toggleContent(item.Company):''"
                                class="read-more" (click)="toggleContent(item.Company)">
                                {{ isExpanded[item.Company] ? 'Read Less' : 'Read More' }}
                            </span>
                            }
                        </p>
                    </div>
                </div>
                }
            </div>
        </div>
        }
        <!-- more -->
        @if (activeTab === 'more') {
        <div [@translate] class="resume-details" id="more">
            <h5>MORE ABOUT ME</h5>
            <div class="row">
                @for (item of certifications?.fields.resumeDetails; track certifications?.fields.resumeDetails) {
                <div class="col-md-6 py-2">
                    <div class="resume-card">
                        <p>CERTIFICATIONS</p>
                        <p>
                            {{item.Title}}
                        </p>
                        <p>{{item.ConductedBy}}</p>
                        <p>{{item.Date}}</p>
                    </div>
                </div>
                }
                <div class="col-md-6 py-2">
                    <div class="resume-card">
                        <p>HOBBIES</p>
                        <p>Watching films</p>
                        <p>Listening music</p>
                        <p>Photography</p>
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="resume-card">
                        <p>STRENGTH</p>
                        <p>Flexible and adaptable</p>
                        <p>Ambitious</p>
                        <p>Loyal and Patience</p>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="row" id="download">
            <div class="col-12">
                <a [href]="pdfDetails?.fields?.file?.url" class="download-resume">
                    <button>
                        View Resume &nbsp;<i class="bi bi-file-earmark-pdf"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>